
<div *ngIf="!showCurrentResult">



  <div  style="padding-top: 30px;">
    <div class="d-flex" style="background-color: blue;">
      <div class="col-2">
        <i class="bi bi-bookmark-star-fill" style="font-size: 25px; color: white;"></i>
        <span class="logo" style="color: white;">{{user.userName}}</span>
      </div>
      <!-- <div class="col-1"> -->
        <!-- <button class="ml-1 mr-1" style="font-size: large;  background-color: rgb(255, 147, 46); border-radius: 5px; width: 80px; text-align: center; border: 2px solid greenyellow; border-style: dotted;" mat-button
                        [routerLink]="['/chart']"
                        routerLinkActive="MyActiveMenu"
                        [routerLinkActiveOptions]="{exact: true}">Result</button> -->
      <!-- </div> -->
      <div class="col-2" style="color: white;">
        Balc: {{user.balance}}
      </div>
      <div class="col-4">
        <span class="mt-2  mr-2" style="font-size: large;color: white; text-align: center;">Next draw: {{activeDrawTime.visibleTime}}</span>
      </div>
      <div class="clock-container clock2 ml-1 mt-1 pt-1 col-1 " *ngIf="alwaysTime" style="font-size: large; width: 150px">
        <div class="time">{{alwaysTime}}</div>
      </div>
    </div>
    <!-- {{showCurrentResult}} -->
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: rgb(54, 54, 54); color: white;">
          <th scope="col">Sereise Name</th>
          <th scope="col">SR</th>
<!--          <th scope="col">00-09</th>-->
<!--          <th scope="col">10-19</th>-->
<!--          <th scope="col">20-29</th>-->
<!--          <th scope="col">30-39</th>-->
<!--          <th scope="col">40-49</th>-->
<!--          <th scope="col">50-59</th>-->
<!--          <th scope="col">60-69</th>-->
<!--          <th scope="col">70-79</th>-->
<!--          <th scope="col">80-89</th>-->
<!--          <th scope="col">90-99</th>-->
<!--          <th scope="col">03:00 PM</th>-->

          <th scope="col">{{twoDigitNumberSet[0].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[1].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[2].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[3].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[4].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[5].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[6].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[7].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[8].number_set}}</th>
          <th scope="col">{{twoDigitNumberSet[9].number_set}}</th>
          <th scope="col">03:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr [style.background-color]="colorName[i]" style=" font-weight: bold; font-size: 33px;" *ngFor="let row of gameTypes; let i = index">
          <td scope="col">{{row.gameName}}</td>
          <td scope="col">{{row.seriesName}}</td>
          <td scope="col"><input #value1 (change)="changeInputDetails(row,value1.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value2 (change)="changeInputDetails(row,value2.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value3 (change)="changeInputDetails(row,value3.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value4 (change)="changeInputDetails(row,value4.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value5 (change)="changeInputDetails(row,value5.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value6 (change)="changeInputDetails(row,value6.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value7 (change)="changeInputDetails(row,value7.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value8 (change)="changeInputDetails(row,value8.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value9 (change)="changeInputDetails(row,value9.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col"><input #value10 (change)="changeInputDetails(row,value10.value,1)" style="max-width: 50px; max-height: 25px;"></td>
          <td scope="col">12</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" style="text-align: center; padding-left: 550px;">
    <button class="btn btn-warning" (click)="viewResult()">View Results</button>
    <button class="btn btn-warning" (click)="saveUserPlayInputDetails()">save</button>
    <!-- <button class="btn btn-primary">Log Out</button> -->

  </div>
  <!-- <div style="color: rgb(253, 253, 253);">
    <pre>
      {{gameTypes | json}}
    </pre>
  </div>  -->
</div>
<div *ngIf="showCurrentResult" >
   <app-current-result></app-current-result>
</div>
