<div style="padding-top: 30px;">
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: rgb(54, 54, 54); color: white;">
        <th scope="col">Sereise Name</th>
        <th scope="col">SR</th>
        <th scope="col">00-09</th>
        <th scope="col">10-19</th>
        <th scope="col">20-29</th>
        <th scope="col">30-39</th>
        <th scope="col">40-49</th>
        <th scope="col">50-59</th>
        <th scope="col">60-69</th>
        <th scope="col">70-79</th>
        <th scope="col">80-89</th>
        <th scope="col">90-99</th>
        <th scope="col">03:00 PM</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: rgb(248, 19, 107); font-weight: bold; font-size: 30px;">
        <td scope="col">GoldStar GANGA</td>
        <td scope="col">A</td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col">12</td>
      </tr>
      <tr style="background-color: rgb(23, 255, 2); font-weight: bold; font-size: 30px;">
        <td scope="col">GoldStar JAMUNA</td>
        <td scope="col">B</td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col">47</td>
      </tr>
      <tr style="background-color: rgb(252, 19, 19); font-weight: bold; font-size: 30px;">
        <td scope="col">GoldStar SARASWATI</td>
        <td scope="col">C</td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col">96</td>
      </tr>
      <tr style="background-color: rgb(9, 255, 0); font-weight: bold; font-size: 30px;">
        <td scope="col">GoldStar GODAVARI</td>
        <td scope="col">D</td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col">27</td>
      </tr>
      <tr style="background-color: rgb(215, 17, 255); font-weight: bold; font-size: 30px;">
        <td scope="col">GoldStar KRISHNA</td>
        <td scope="col">E</td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col"><input style="max-width: 50px; max-height: 25px;"></td>
        <td scope="col">70</td>
      </tr>

    </tbody>
  </table>
</div>
<div class="row" style="text-align: center; padding-left: 550px;">
  <button>View Results</button>
  <button>Log Out</button>
</div>
